@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
img{
    max-width: 100%;
    display: block;
}
p{
    font-family: 'Open Sans', sans-serif;
    color: #999999;
    text-align: justify;
    margin-bottom: 15px;
    line-height: 1.8;
}
.heading{
    padding: 20px 0 20px;
    position: relative;
}
.heading:before{
    position: absolute;
    content: "";
    height: 4px;
    width: 60px;
    background: #ff6633;
    top: 20px;
}
.heading h2{
    color: #333366;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 0;
}
.see-more{
    font-size: 14px;
    color: #ff6633;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none!important;
     transition: .6s all ease;
    -webkit-transition:.6s all ease;
    -moz-transition: .6s all ease;
}

/********** Header-section ***********/
header{
    background: #fff;
    padding: 10px;
}
.navbar-light .navbar-toggler {
    color: #333366;
    border-color: #fff;
    padding: 0;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 25px;
    text-align: center;
    outline: 0;
}
.navbar-brand h3{
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333366;
}
.navbar-light .navbar-nav .nav-link {
    display: block;
    color: #28367e;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    transition: .4s;
    -webkit-transition:.4s;
    -moz-transition: .4s;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #f2622c;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #f2622c;
}

/*********** banner section ***********/
.banner-section{
    background-image: url("../images/banner_bg_1.png"), url("../images/banner_bg_2.png");
    min-height: 560px;
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;
    position: relative;
}
.banner-content{
    text-align: center;
    min-height: 100vh;
}
.banner-content h1{
    color: #fff;
    font-size: 52px;
    text-transform: uppercase;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}
.banner-content i{
    position: absolute;
    bottom: 50px;
    left: 50%;
    color: #fff;
    transform: translate(-50%,0px);
}

/*********** who we are section ***********/
.who-we-are-section{
    margin: 70px;
}
.who-we-are-content{
    padding: 30px 70px 0 0;
}
.who-we-are-content p{
    display: block;
}
.who-we-are-content h2{
    transition: .4s;
    -webkit-transition:.4s;
    -moz-transition: .4s;
}
.who-we-are-content .heading:before{
    transition: .4s;
    -webkit-transition:.4s;
    -moz-transition: .4s;
}
.who-we-are-content:hover h2{
    color: #ff6633;
}
.who-we-are-content:hover .heading:before{
    background: #333366;
    width:80px;
}
.who-we-are-img{
}
.who-we-are-img img{
    transition: 2s;
    -webkit-transition:2s;
    -moz-transition: 2s;
}
.who-we-are-img:hover img{
    opacity: .8;
    cursor: pointer;
}

/*********** what we do section ***********/
.what-we-do-section{
    padding-top: 50px;
    background: #f7f8f8;
    background-image: url("../images/what_we_do_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-bottom: 100px;
}
.what-we-do-section .heading{
    text-align: center;
}
.what-we-do-section .heading h2{
    transition: .4s;
    -webkit-transition:.4s;
    -moz-transition: .4s;
}
.what-we-do-section .heading:before{
    left: 50%;
    transform: translate(-50%);
     transition: .4s;
    -webkit-transition:.4s;
    -moz-transition: .4s;
}
.what-we-do-section:hover h2{
    color: #ff6633;
}
.what-we-do-section:hover .heading:before{
    background: #333366;
    width:80px;
}
.what-we-do{
    margin-top: 35px;
    position: relative;
}
.what-we-do-box{
    padding: 10px;

}
.box{
    position: relative;
}
.box:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#333399+0,333399+60&0.69+43,1+56 */
    background: -moz-linear-gradient(top,  rgba(51,51,153,0.69) 0%, rgba(51,51,153,0.69) 43%, rgba(51,51,153,1) 56%, rgba(51,51,153,1) 60%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(51,51,153,0.69) 0%,rgba(51,51,153,0.69) 43%,rgba(51,51,153,1) 56%,rgba(51,51,153,1) 60%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(51,51,153,0.69) 0%,rgba(51,51,153,0.69) 43%,rgba(51,51,153,1) 56%,rgba(51,51,153,1) 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0333399', endColorstr='#333399',GradientType=0 ); /* IE6-9 */
    visibility:hidden;
    cursor: pointer;
}
.box:hover:before{
    visibility: visible;
    opacity: .5;
}
.what-we-do-box img{
    width: 100%;

}
.what-we-do-box h4{
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    position: absolute;
    text-align: center;
    top: 70%;
    left: 48%;
    transform: translate(-50%, -50%);
    transition: .5s ease all;
    -webkit-transition: .5s ease all;
}
.what-we-do-box:hover h4{
    top: 50%;
}
.what-we-do-box a{
    color: #fff;
    display: block;
    font-size: 30px;
}
.what-we-do-box i{
    position: absolute;
    text-align: center;
    top: 90%;
    left: 48%;
    transform: translate(-50%, -50%);
    transition: .5s ease all;
    -webkit-transition: .5s ease all;
    visibility: hidden;
}
.what-we-do-box:hover i{
    top: 70%;
    visibility: visible;
}

/*********** our attorney section ***********/
.our-attorney-section{
    background-image: url("../images/attorney_bg.png");
    background-repeat: no-repeat;
    padding: 120px 0 100px;
}
.attorney-content{
    margin-top: 150px;
}
.attorney-content p{
    font-family: 'Open Sans', sans-serif;
    color: #999999;
    text-align: justify;
    margin-bottom: 15px;
}
.attorney-content .heading h2{
    max-width: 200px;
    color: #fff;
    transition: .4s;
    -webkit-transition:.4s;
    -moz-transition: .4s;
}
.attorney-content .heading:before{
    transition: .4s;
    -webkit-transition:.4s;
    -moz-transition: .4s;
}
.attorney-content:hover h2{
    color: #ff6633;
}
.attorney-content:hover .heading:before{
    background: #fff;
    width: 80px;
}
.attorney-content .see-more:hover{
    color: #fff;
    transition: .6s all ease;
    -webkit-transition:.6s all ease;
    -moz-transition: .6s all ease;
}
.attorney-img{
}
.attorney-img h4{
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    position: absolute;
    text-align: center;
    top: 70%;
    left: 48%;
    transform: translate(-50%, -50%);
    transition: .5s ease all;
    -webkit-transition: .5s ease all;
}
.attorney-img :hover h4{
    top: 50%;
}
    
.single-box{
    position: relative;
    margin-bottom: 20px;
}
.single-box:before{
    content: "";
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#333399+0,333399+60&0.69+43,1+56 */
    background: -moz-linear-gradient(top,  rgba(51,51,153,0.69) 0%, rgba(51,51,153,0.69) 43%, rgba(51,51,153,1) 56%, rgba(51,51,153,1) 60%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(51,51,153,0.69) 0%,rgba(51,51,153,0.69) 43%,rgba(51,51,153,1) 56%,rgba(51,51,153,1) 60%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(51,51,153,0.69) 0%,rgba(51,51,153,0.69) 43%,rgba(51,51,153,1) 56%,rgba(51,51,153,1) 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0333399', endColorstr='#333399',GradientType=0 ); /* IE6-9 */
    visibility:hidden;
    cursor: pointer;
}
.single-box:hover:before{
    visibility: visible;
    opacity: .5;
}

/*********** language section  ***********/
.language-section{
    padding: 80px 0;
}
.language-content{
    overflow: hidden;
}
.language-section .heading{
    text-align: center;
}
.language-section .heading h2{
    transition: .4s;
    -webkit-transition:.4s;
    -moz-transition: .4s;
}
.language-section:hover .heading h2{
    color: #ff6633;

}
.language-section:hover .heading:before{
    background:#333366;
    width: 80px;
}
.language-section .heading:before{
    left: 50%;
    transform: translate(-50%);
     transition: .4s;
    -webkit-transition:.4s;
    -moz-transition: .4s;
}
.language-box{
    padding: 15px;
    position: relative;
}
.language-box :before{
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    background: #f2622c;
    left: 50%;
    transform: translate(-50%);
    top: 0px;
    transition: .4s;
    -webkit-transition:.4s;
    -moz-transition: .4s;
    visibility: hidden;
    }
.language-box :hover:before{
    visibility: visible;
    width: 60px;
}
.language-box h5{
    text-align: center;
    color: #333366;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
}
.language-box .see-more:hover{
    color: #333366;
      transition: .6s all ease;
    -webkit-transition:.6s all ease;
    -moz-transition: .6s all ease;
}

/*********** contact us section  ***********/
.contact-us-section{
    background: #28377e;
    padding: 60px 0 80px;
}
.contact-us-section .heading{
    text-align: center;
}
.contact-us-section .heading h2{
    color: #fff;
     transition: 2s;
    -webkit-transition:2s;
    -moz-transition: 2s;
}
.contact-us-section:hover .heading h2{
    color: #ff6633;
}
.contact-us-section .heading:before{
    left: 50%;
    transform: translate(-50%);
     transition: 2s;
    -webkit-transition:2s;
    -moz-transition: 2s;
}
.contact-us-section:hover .heading:before{
    background: #fff;
}
.contact-form{
    width: 50%;
    margin: auto;
}
.contact-form form{}
.contact-form form input{
    font-size: 14px;
    padding-left: 10px;
    background: transparent;
    border: none;
    margin-bottom: 20px;
    border-bottom: 1px solid #4759a7;
    outline: none;
    padding: 4px 0;
    color: #fff!important;
}
.contact-form form textarea{
    background: transparent;
    font-size: 14px;
    border: none;
    margin-bottom: 20px;
    border-bottom: 1px solid #4759a7;
    width: 100%;
    outline: none;
    padding: 4px 0;
    color: #fff!important;
    resize: none;
}
.contact-form form .btn{
     font-size: 12px;
     border: none;
     margin: 20px auto;
     border-bottom: 1px solid #7b87928a;
     padding: 13px 0;
     color: #fff;
     background: #ff6633;
     font-family: 'Montserrat', sans-serif;
     font-weight: 600;
     text-transform: uppercase;
     border-radius: 5px;
     width: 25%;
     display:block;
}
.contact-form form .btn:hover{
    color:#ff6633!important;
    background:#fff;
    transition: 1s;
    -webkit-transition:1s;
    -moz-transition: 1s;
    font-weight: 600;
}
    .form-control:focus {
    color: #495057;
    background-color: transparent;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0 #4759a7;
    border-bottom: 1px solid #4759a7;
}
::placeholder {
  color: #fff!important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #fff!important;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #fff!important;
}

/*********** footer ***********/

footer{
    background: #000033;
    padding: 40px 0 30px;
}

.copyright{
 font-size: 14px;
 color: #fff;
}
.copyright a{
    text-decoration: none;
    color: #616ca8;
}
.copyright a:hover{
    color: #f2622c;
     transition: .4s;
    -webkit-transition:.4s;
    -moz-transition: .4s;
}
.footer-social-icon{
  text-align: right;
}
.footer-social-icon nav{
    text-align: right!important;
}

.footer-social-icon ul li a{
    color: #fff;
    display: inline-block;
    /* padding: 5px 10px; */
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    margin-left: 5px;
}
.footer-social-icon ul li .facebook:hover{
    background: #fff;
    color: #395599;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
     border-radius: 5px;
}
.footer-social-icon ul li .linkedin:hover{
    background: #0271ae;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
     border-radius: 5px;
}
.footer-social-icon ul li .youtube:hover{
    background: #fff;
    color: #f70002;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
     border-radius: 5px;
}
.footer-social-icon ul li .instagram:hover{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f12e03+1,c03085+46,7939ac+100 */
    background: #f12e03; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #f12e03 1%, #c03085 46%, #7939ac 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #f12e03 1%,#c03085 46%,#7939ac 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #f12e03 1%,#c03085 46%,#7939ac 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f12e03', endColorstr='#7939ac',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: #fff;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
     border-radius: 5px;
}
.footer-social-icon ul li .pinterest:hover{
    background: #c51f26;
    color: #fff;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
     border-radius: 5px;
}